body {
    color: #000000;
}

.btn.active {
    background-color: rgba(255, 255, 255, 0.5);
}

.logo_box {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
}

.logo_box img {
    max-width: 150px;
}

div.wrapper {
    margin: 0 auto;
    max-width: 72rem;
}

div.aside {
    height: 100%;
    width: 10rem;
    float: left;
    position: sticky;
    z-index: 1;
    top: 5px;
    position: sticky;
    border-right: solid 1px;
    padding-right: 15px;
    margin-top: 5px;
}

.aside ul {
    padding-left: 0px;
}

.aside li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

.aside h4 {
    text-align: right;
}

.page-header {
    padding: 1rem 6rem;
    background-image: none;
    background-color: #cc0000;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #cc0000;
}

a {
    color: #0d4b58;
}

a:hover {
    color: #990000;
}

@media screen and (min-width: 64em) {
    .main-content {
        min-height: 500px;
        padding: 2rem 8rem;
    }
}
