.btn.active {
    background-color: rgba(255, 255, 255, 0.5);
}

div.logo_box {
    padding: 40px;
    display: flex;
    justify-content: center;
}

div.logo_box figure {
    margin-top: 0px;
    float: left;
}

div.logo_box img {
    margin-top: 0px;
}

div.wrapper {
    margin: 0 auto;
    max-width: 72rem;
}

div.aside {
    height: 100%;
    width: 8rem;
    float: left;
    position: sticky;
    z-index: 1;
    top: 5px;
    position: sticky;
}

.aside ul {
    padding-left: 0px;
}

.aside li {
    list-style-type: none;
    margin-bottom: 10px;
}