<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <nav>
      {% assign parts = page.url | split: "/" %}
      <!-- {{ page.url }} -->
        {% for entry in site.data.navi.toc %}
          {% if parts.size < 3 and entry.path == "/"  %}
            <a href="{{ entry.path}}{{ entry.url }}" class="btn active">{{ entry.title }}</a>
            {% if entry.subnav %}
              {% assign subnav = entry.subnav %}
            {% endif %}
          {% elsif parts.size >= 3 and page.url contains entry.path and entry.path != "/" %}
            <a href="{{ entry.path}}{{ entry.url }}" class="btn active">{{ entry.title }}</a>
            {% if entry.subnav %}
              {% assign subnav = entry.subnav %}
            {% endif %}
          {% else %}
            <a href="{{ entry.path}}{{ entry.url }}" class="btn">{{ entry.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </header>
    <div id="wrapper" class="wrapper">
      {% if subnav %}
      <div id="aside" class="aside">
        <h4>{{ page.title | default: "Meta Title"}}</h4>
        <ul>
          {% for entry in subnav %}
            {% if entry.url == page.url %}
              <li><a href="{{ entry.url }}" class="subnav_active">{{ entry.title }}</a></li>
            {% else %}
              <li><a href="{{ entry.url }}" class="subnav">{{ entry.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
          {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          {% endif %}
          <div class="logo_box">
            <figure><img src="/assets/images/logo_slub.svg" alt="Logo Slub" width="150px"></figure>
            <figure><img src="/assets/images/logo_efre.svg" alt="Logo EFRE" width="150px"></figure>  
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
