<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <nav>
      {% assign parts = page.url | split: "/" %}
      <!-- {{ page.url }} -->
        {% for entry in site.data.navi.toc %}
          {% if parts.size < 3 and entry.path == "/"  %}
            <a href="{{ site.baseurl }}{{ entry.path}}{{ entry.url }}" class="btn active">{{ entry.title }}</a>
            {% if entry.subnav %}
              {% assign subnav = entry.subnav %}
            {% endif %}
          {% elsif parts.size >= 3 and page.url contains entry.path and entry.path != "/" %}
            <a href="{{ site.baseurl }}{{ entry.path}}{{ entry.url }}" class="btn active">{{ entry.title }}</a>
            {% if entry.subnav %}
              {% assign subtitle = entry.title %}
              {% assign subnav = entry.subnav %}
            {% endif %}
          {% else %}
            <a href="{{ site.baseurl }}{{ entry.path}}{{ entry.url }}" class="btn">{{ entry.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </header>
    <div id="wrapper" class="wrapper">
      {% if subnav %}
      <div id="aside" class="aside">
        <h4>{{ subtitle }}</h4>
        <ul>
          {% for entry in subnav %}
            {% if page.url contains entry.url %}
              <li>{{ entry.title }}</li>
            {% else %}
              <li><a href="{{ entry.url }}" class="subnav">{{ entry.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

      <main id="content" class="main-content" role="main">
        {{ content }}
        <footer class="site-footer">
          <span class="site-footer-owner">
            Wenn sie Fragen zum Projekt haben, schreiben sie uns eine Email: <SCRIPT LANGUAGE="JavaScript">user = 'librml';site = 'slub-dresden.de';document.write('<a href=\"mailto:' + user + '@' + site + '\">');document.write(user + '@' + site + '</a>');</SCRIPT><br>
            Sie können sich auch über <a target="_blank" href="https://github.com/slub/librml/discussions">GitHub</a> an der Diskussion beteiligen.</span>
          <span class="site-footer-credits">
            <a href="{{ site.github.repository_url }}">LibRML</a> ist ein Projekt der <a href="{{ site.github.owner_url }}">SLUB - Sächsische Landesbibliothek — Staats- und Universitätsbibliothek Dresden</a>.</span>
            <div class="logo_box">
              <figure><img src="{{ site.baseurl }}/assets/images/logo_slub.jpg" alt="Logo Slub" width="150px"></figure>
              <figure><img src="{{ site.baseurl }}/assets/images/logo_efre.svg" alt="Logo EFRE" width="150px"></figure>
            </main>
    </div>
  </footer>
  </body>
</html>
